<div class="container">
  <h1>Wycieczka do Kairu - 1 dzień z Marsa Alam</h1>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade w-100 d-flex"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/1.jpg"
          class="d-block w-100 img1"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/125.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/125.jpg" class="d-blockw-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  //carasole end //maindescription
  <section>
    <h5>CENA OD OSOBY DOROSŁEJ <span>$75.00</span></h5>
    <h6>OPIS WYCIECZKI</h6>
    <p>
      Piramidy w Gizie to jeden z siedmiu cudów świata. Być w Egipcie i nie
      zobaczyć piramid? Przecież to się w głowie nie mieści! Wprawdzie z Marsa
      Alam jest do Kairu dość daleko (około 750 kilometrów), ale wycieczka pod
      piramidy trwa niewiele ponad dobę. Poza piramidami w Gizie będziecie mogli
      też zobaczyć eksponaty w Muzuem Egipskim w Kairze, w tym złotą maskę
      Tutenchamona!
    </p>
    <p>
      Wycieczka standardowo odbywa się autokarem z grupą ok 35 osób, ale ten sam
      program jest też do zrealizowania w wersji prywatnej dla mniejszych grup –
      między 4 a 8 osób, małym busem. Cena wycieczki wynosi wtedy 85$ od osoby .
      Wycieczka VIP busem odbywa się w niedzielę, wtorek i piątek. W cenę
      wycieczki VIP wliczona jest butelka wody oraz puszka napoju gazowanego lub
      szklanka soku w restauracji podczas obiadu.
    </p>
    <p>
      Na wycieczkę do Kairu z Marsa Alam zostaniecie odebrani spod hotelu w
      którym jesteście zameldowani samochodem osobowym bądź busem (zależnie od
      ilości chętnych). Kierowca zawiezie Was do Hurghady, gdzie przesiądziecie
      się do innego busa / autokaru, którym udacie się do Kairu. Około 200km
      przed Kairem zatrzymacie się w zajeździe Zafarana, gdzie będzie można
      skorzystać z toalet, napić się kawy, czy coś zjeść.
    </p>
    <p>
      Do Kairu dojeżdżacie około 8 rano. Pierwszym punktem wycieczki jest
      zwiedzanie Muzeum Egipskiego, gdzie znajduje się m.in. ponad 1700 obiektów
      z Grobowca Tutenchamona, w tym złota maska faraona.
    </p>
    <p>
      Po Muzuem Egipskim udajecie się na obiad wliczony w cenę wycieczki. Obiad
      jest w restauracji w pobliżu piramid, w formie stołu szwedzkiego. Napoje
      podczas obiadu są dodatkowo płatne.
    </p>
    <p>
      Po obiedzie udajecie się na zwiedzanie piramid w Gizie. Wielkie Piramidy,
      jeden z siedmiu cudów świata, włącznie z Wielką Piramidą Cheopsa, Średnią
      Piramidą Chephrena oraz Małą Piramidą Mykerinosa, a także Sfinksem.
    </p>
    <p>
      W międzyczasie chętne osoby mogą skorzystać z rejsu po Nilu. Ta atrakcja
      jest dodatkowo płatna 10$ od osoby. Turyści, którzy nie korzystają z rejsu
      czekają na pozostałych w autokarze. Jeśli jesteście w Kairze bardzo
      wcześnie, gdy Muzuem jest jeszcze zamknięte, rejs po Nilu jest pierwszym
      punktem wycieczki.
    </p>
    <p>
      Po zrealizowaniu całego programu wycieczki pora na powrót. Około północy
      jesteście w Hurghadzie, gdzie przesiadacie się do samochodu, który
      zabierze Was do hotelu w Marsa Alam. Na miejscu jesteście około drugiej –
      trzeciej w nocy.
    </p>
    <p>
      Zwiedzania będzie się odbywać w towarzystwie polskojęzycznego przewodnika.
    </p>
    <h6>
      podana cena wycieczki jest aktualna przy min 2 osobach chętnych na dany
      termin
    </h6>
  </section>

  //accordion trip quations
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <h3>Jak zarezerwować wycieczkę do Kairu z Marsa Alam?</h3>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          By zarezerwować wycieczkę do Kairu należy przesłać 1. nazwę hotelu, 2.
          numer pokoju, 3. imiona i nazwiska wszystkich uczestników, 4. datę
          przylotu, 5. datę wylotu 6. nazwę biura podróży z którym
          przylecieliscie, 7. zdjęcie pierwszej strony paszportów, 8. zdjęcie
          wizy. wizy
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <h3>Jaka jest cena wycieczki do Kairu z Marsa Alam dla dzieci?</h3>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Dzieci do 6 lat jadą na wycieczkę za darmo. Dzieci między 6 a 12 lat
          płacą połowę ceny
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <h3>W jakie dni odbywa się wycieczka?</h3>
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Zwiedzanie Kairu odbywa się w każdy poniedziałek, środę i sobotę. Z
          hoteli w Marsa Alam odbieramy zwykle poprzedniego dnia między 21:00 a
          23:00
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          <h3>Czy podczas wycieczki są ukryte koszty?</h3>
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Poza pozycjami zawartymi w liście “Dodatkowo płatne” nie ma na
          wycieczce żadnych dodatkowych kosztów. - Jeśli masz dodatkowe pytania
          na temat jednodniowej Wycieczka do Kairu - 1 dzień z Marsa
          Alamskontaktuj się z nami na facebooku SkyOnta Tours bądź na
          Whatsappie pod numerem +201010655608. Z przyjemnością odpowiemy na
          Twoje pytania.
        </div>
      </div>
    </div>
  </div>
  //prices
  <div class="cost d-flex flex-wrap justify-content-evenly">
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fas fa-check"></i> W cenie wycieczk i
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-bus"></i> Transfer z i do hotelu w Marsa Alam
        </li>
        <li class="list-group-item">
          Napoje i router Wi-Fi
          <i class="fas fa-wifi"></i>
        </li>
        <li class="list-group-item">
          opłaty startowe zgodnie z programem wycieczki
        </li>

        <li class="list-group-item">
          wykwalifikowany przewodnik mówiący po polsku
        </li>
        <li class="list-group-item"><i class="fas fa-utensils"></i> obiad</li>
        <li class="list-group-item">podatki i opłaty za usługi</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fa-regular fa-circle-xmark"></i>Dodatkowo płatne
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Napoje w restauracji</li>
        <li class="list-group-item">Porady</li>
        <li class="list-group-item">Rejs po Wyspie Bananowej</li>
        <li class="list-group-item">
          przejażdżka wielbłądem, koniem lub bryczką na panoramę przy piramidach
          - 10$
        </li>
      </ul>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fa-regular fa-bell"></i>Co warto zabrać?
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          aparat, ciepła bluza (zimą noce są chłodne, latem klimatyzacja mrozi
          zabezpieczona), krem z filtrem, nakrycie głowy, nie ma konieczności
          zabierania paszportu, pudełko śniadaniowe (Nie wiesz co? Kliknij),
          woda / napoje
        </li>
      </ul>
    </div>
  </div>

  //endprices //description
  <div id="description" class="basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>WYCIECZKA DO KAIRU - NAJCZĘŚCIEJ ZADAWANE PYTANIA:</h2>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled li-space-lg first">
            <li class="media">
              <div class="media-body">
                <h4>Wycieczka do Kairu z Marsa Alam – czy warto?</h4>
                <p>
                  Wycieczka do Kairu z Marsa alam jest szczególnie polecana
                  osobom, które podczas wakacji w Marsa Alam chciałyby zobaczyć
                  piramidy oraz muzealne eksponaty ze Starożytnego Egiptu
                  znajdujące się w Muzeum Egipskim. Wprawdzie jazda autobusem
                  trwa około ośmiu – dziewięciu godzin w jedną stronę, jednak
                  jeśli jeszcze nie mieliście okazji zobaczyć na żywo piramid,
                  naprawdę warto się wybrać na wycieczkę do Kairu.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>
                  Wycieczka do Kairu z Marsa Alam – o czym warto pamiętać?
                </h4>
                <p>
                  Wycieczka do Kairu jest całodniową wycieczką, podczas której
                  zapewniony macie lunch. Dzień przed wyjazdem warto więc
                  zgłosić w recepcji hotelu, że wybieracie się na wycieczkę i
                  chcielibyście zamówić śniadanie na wynos tzw. breakfast box.
                  Warto wiedzieć, że istnieje możliwość wejścia do wnętrza
                  piramidy oraz Muzeum łodzi Khufu za dodatkową opłatą –
                  zapraszamy do zapoznania się z cennikiem w artykule zwiedzanie
                  piramid ceny
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>
                  Czy wycieczka do Kairu odbywa się w czasach koronawirusa?
                </h4>
                <p>
                  W programie wycieczki wciąż dostępne jest stare muzuem przy
                  placu Tahrir w którym znajdują się między innymi skarby z
                  grobu Tutenchamona, w tym złota maska. Nowe muzuem wciąż jest
                  niedostępne do zwiedzania dla zorganizowanych grup.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Czy na wycieczce zwiedzamy stare czy nowe muzuem?</h4>
                <p>
                  Przyjmujemy płatność w dolarach, euro, funtach brytyjskich,
                  funtach egipskich. Przeliczamy cenę wycieczki po aktualnym
                  kursie i zaokrąglamy do pełnego euro, funta brytyjskiego bądź
                  pięciu funtów egipskich. Nie akceptujemy płatności kartą. W
                  wyjątkowych sytuacjach możemy zaakceptować płatność przelewem,
                  choć preferujemy gotówkę.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Jak blisko piramid będziemy?</h4>
                <p>
                  Piramidy będziecie mieć na wyciągnięcie ręki w cenie
                  wycieczki. Wejście do środka piramid jest dodatkowo płatne.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <ul class="list-unstyled li-space-lg second">
            <li class="media">
              <div class="media-body">
                <h4>Czy wycieczka do Kairu jest bezpieczna?</h4>
                <p>
                  Na każdej wycieczce do Kairu w autokarze jest z Wami
                  policjant. My, jako organizatorzy wyjazdu, jesteśmy
                  zobowiązani uzyskać zezwolenie od policji turystycznej
                  pozwalające na zorganizowanie wycieczki. Jeżeli pojawiają się
                  jakiekolwiek sygnały alarmujące policja nie wydaje tego
                  zezwolenia. Do tej pory zdarzyło się to zaledwie kilka razy, i
                  za każdym razem było związane z pogodą.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Jak poznam bus/ autokar, który po mnie przyjedzie?</h4>
                <p>
                  Osoba, która po Was przyjeżdża, ma Wasz numer pokoju i powinna
                  go podać. Jeżeli będziecie mieli problem ze zrozumieniem
                  numeru pokoju, pokaże Wam ten numer w telefonie. Nie zawsze z
                  hotelu odbierają Was osoby polskojęzyczne. Często są to
                  kierowcy. Ale zwiedzanie Kairu zawsze odbywa się z
                  polskojęzycznym przewodnikiem.p>
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>O której jest wyjazd z hotelu/ powrót?</h4>
                <p>
                  Z hoteli na terenie Marsa Alam odbieramy ok 22 a 23:30. Powrót
                  z Kairu jest ok 2 – 3 w nocy. Po podaniu hotelu potwierdzimy
                  dokładną godzinę wyjazdu.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Kiedy i komu mamy zapłacić za wycieczkę?</h4>
                <p>
                  Płatność jest podczas wycieczki, po wejściu do autokaru. Płaci
                  się rezydentowi, który jedzie z Wami autokarem.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>
                  Czy za wycieczkę można zapłacić inną walutą / kartą /
                  przelewem?
                </h4>
                <p>
                  Przyjmujemy płatność w dolarach, euro, funtach brytyjskich,
                  funtach egipskich. Przeliczamy cenę wycieczki po aktualnym
                  kursie i zaokrąglamy do pełnego euro, funta brytyjskiego bądź
                  pięciu funtów egipskich. Nie akceptujemy płatności kartą. W
                  wyjątkowych sytuacjach możemy zaakceptować płatność przelewem,
                  choć preferujemy gotówkę.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Czy podczas wycieczki są ukryte koszty?</h4>
                <p>
                  Poza pozycjami zawartymi w liście “Dodatkowo płatne” nie ma na
                  wycieczce żadnych dodatkowych kosztów.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <div class="reservation">
    <h6>po więcej informacji</h6>
    <a href="https://wa.me/201010655608?text="
      ><i class="fa-brands fa-whatsapp"> Rezerwuj teraz</i></a
    >
  </div>
</div>
