<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <div class="countdown">
            <span id="clock"></span>
          </div>
          <h1>
            SkyOnta Tours - biuro podróży w Egipcie Wycieczki fakultatywne z
            Hurghady i Marsa Alam po polsku
          </h1>
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../assets/images/1.jpg
                  "
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/117.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/125.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/119.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/145 (12).jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/145 (20).jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../assets/images/62.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <h2>Marsa alam- Wycieczki fakultatywne</h2>

          <p class="p-large"></p>
          <h3>Wycieczki fakultatywne z Marsa Alam, Port Ghalib, El Quseir</h3>
          <p>
            Wybierając się na wakacje do Marsa Alam, Port Ghalib czy El Quseir
            warto zapoznać się z ofertą wycieczek fakultatywnych. Niestety
            hotele w Marsa Alam i okolicy zą zwykle bardzo od siebie oddalone,
            więc poza hotelem nie bardzo jest gdzie się wybrać na własną rękę. Z
            pomocą przychodzą wycieczki fakultatywne z Marsa Alam po polsku. Z
            naszym biurem możesz zwiedzić Kair, Luksor, popływać z żółwiami i
            delfinami oraz dugongami, zanurkować z akwalungiem czy pojeździć na
            quadach.
          </p>
          <p>
            Marsa Alam to przede wszystkim piękne rafy koralowe. Większość osób,
            które wybierają tę lokalizację na wakacje w Egipcie kieruje się
            właśnie podwodnym światem. Często rafy koralowe położone są przy
            hotelach i snurkując czy nurkując z hotelowej plaży możecie
            podziwiać kolorowe, tętniące życiem koralowce, egzotyczne ryby, a
            nawet żołwie, delfiny, czy krowy morskie, co na przykład często ma
            miejsce przy hotelach Malikia czy Hilton Nubia w Zatoce Abu Dabbab,
            ale też na rejsach np. na rejsie do Marsa Mubarak.
          </p>
          <p>
            Przebywając na wakacjach w Marsa Alam macie też szansę by zwiedzić
            zabytki Starożytnego Egiptu. Zarówno piramdy w Kairze, jak i
            świątynie w Luksorze, stoją przed Was otworem. Wprawdzie wycieczki
            do Kairu czy Luksoru z Hurghady są tańsze i krótsze, ale z Marsa
            Alam też jest możliwość pojechania w oba te miejsca.
          </p>
          <h2>
            O czym należy pamiętać decydując na którą wycieczkę chcecie się
            wybrać
          </h2>
          <p>
            Jeśli interesują Was rejsy morskie warto wiedzieć, że na rejs do
            Marsa Mubarak wypływamy z Port Ghalib, a na rejs na Wyspy Qulaan –
            Egipskie Malediwy czy Satayę – Dom Delfinów z portu w Hamacie, który
            znajduje się około 110km na południe od Marsa Alam. Na rejsy morskie
            z Marsa Alam zawsze proszę zabierać kserokopię paszportu wszystkich
            uczestników wycieczki.
          </p>
          <p>
            Dobrze pamiętać, że z Marsa Alam do Luksoru jest znacznie bliżej niż
            do Kairu. Zależnie od hotelu na wycieczkę do Luksoru odbieramy Was
            między 3:00 a 5:00 rano, zaś na wycieczkę do Kairu między 21:00 a
            23:00 poprzedniego dnia. W Luksorze jesteście ok 9:30 rano, w Kairze
            ok 8:30 rano. Wybierając opcję dwudniową możecie zobaczyć zarówno
            Luksor z Doliną Królów, jak i Muzeum Egipskie w Kairze, piramidy
            oraz Sfinksa w Gizie jednocześnie skracając czas spędzony w podróży,
            bo po wycieczce do Kairu wracacie do Hurghady (około północy), skąd
            następnego dnia rano (ok 4:00-4:30) odbieramy Was na wycieczkę do
            Luksoru.
          </p>
          <P
            >Na wycieczki do Kairu i Luksoru, dzień wcześniej powinniście
            zamówić w hotelowej recepcji suchy prowiant na wycieczkę, czyli tzw.
            breakfast box. Czasem te breakfast boxy są bardzo skromne, więc
            warto wziąć coś jeszcze z kolacji (np banany, rogaliki). Na każdej z
            wycieczek napoje są dodatkowo płatne, więc dobrze mieć ze sobą choć
            butelkę wody.</P
          >
          <h2>Jak i kiedy rezerwować wycieczki z Marsa Alam</h2>
          <P
            >Najlepiej wycieczki wstępnie rezerwować przed przylotem do Egiptu.
            z tygodniowym bądź dwutygodniowym wyprzedzeniem. Najszybszą drogą
            kontaktu jest WhatsApp i messanger , ale można też napisać do nas
            maila. W wiadomości proszę zawrzeć informację jakiego typu wycieczki
            Was interesują, w jakim będziecie hotelu, ile osób jest
            zainteresowanych (z podziałem na dzieci do 6lat, dzieci w wieku
            6-12lat i osoby powyżej 12lat</P
          >
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->

  <div class="main">
    <!-- <h1>Responsive Card Grid Layout</h1> -->
    <ul class="cards">
      <li class="cards_item" routerLink="luxor">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/luxor/luxor-dareuch-img.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Wycieczka do Doliny Królów z Marsa Alam</h2>
            <p class="card_text">
              świątynię Hatszepsut, Doliny Królów , Kolosy Memnona , świątynie
              karnaku
            </p>
            <p>Cena od osoby dorosłej <span>$75</span></p>
          </div>
        </div>
      </li>
      <li class="cards_item" routerLink="qusier">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/qusier/FB_IMG_1681319205161.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">stare miasto i zakupy w el quseir</h2>
            <p class="card_text">
              Spędź niesamowity dzień w Elqusier i kup tanio. zakupy
            </p>
            <p>Cena od osoby dorosłej <span>$10</span></p>
          </div>
        </div>
      </li>
      <li class="cards_item" routerLink="porto">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/divino.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Port Galib</h2>
            <p class="card_text">Spędź niesamowity wieczór w Porto Galib</p>
            <p>Cena od osoby dorosłej <span>$10</span></p>
          </div>
        </div>
      </li>
      <li class="cards_item" routerLink="safari">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/Quad/FB_IMG_1684963574439.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">
              Quady z Marsa Alam – Safari z wiełbłądami i wioską beduińską
            </h2>
            <p>
              Cena od osoby dorosłej <span>single 30$ </span>
              <span>double 50$</span>
            </p>
          </div>
        </div>
      </li>
      <li class="cards_item" routerLink="cairo">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/quad.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Kairu</h2>
            <p class="card_text">Wycieczka do Kairu - 1 dzień z Marsa Alam</p>
            <p>Cena od osoby dorosłej <span>$75</span></p>
          </div>
        </div>
      </li>
      <li class="cards_item" routerLink="taxi">
        <div class="card">
          <div class="card_image">
            <img src="../../assets/images/marsa-alam-airport.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">PRYWATNE TRANSFERY LOTNISKOWE W EGIPCIE</h2>
            <p class="card_text">
              taksówka i karta internetowa i antinal z lotniska Marsa Alam do
              dowolnego hotelu <span>10$</span> za osobę
            </p>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div class="card-container">
      <div class="card">
        <img
          class="card-image"
          src="../../assets/images/Luxor-Egypt-e1698443470964-500x350.jpg"
        />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">Wycieczka do Doliny Królów z Marsa Alam</h2>
        <p></p>
        <p class="card_text">
          świątynię Hatszepsut, Doliny Królów , Kolosy Memnona , świątynie
          karnaku
        </p>
        <p>Cena od osoby dorosłej<span> $75</span></p>
      </div>
      <div class="card">
        <img
          class="card-image"
          src="../../assets/images/qusier/FB_IMG_1681319205161.jpg"
        />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">stare miasto i zakupy w el quseir</h2>
        <p class="card_text">
          Spędź niesamowity dzień w Elqusier i kup tanio. zakupy
        </p>
        <p>Cena od osoby dorosłej<span> $10</span></p>
      </div>
      <div class="card">
        <img class="card-image" src="../../assets/images/divino.jpg" />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">Port Galib</h2>
        <p class="card_text">Spędź niesamowity wieczór w Porto Galib</p>
        <p>Cena od osoby dorosłej <span> $10</span></p>
      </div>
      <div class="card">
        <img
          class="card-image"
          src="../../assets/images/Quad/FB_IMG_1684963574439.jpg"
        />
        />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">
          Quady z Marsa Alam – Safari z wiełbłądami i wioską beduińską
        </h2>
        <p>Cena od osoby dorosłej</p>
        <span>$single 30$ </span> <span> double 50$</span>
      </div>
      <div class="card">
        <img class="card-image" src="../../assets/images/quad.jpg" />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">Kairu</h2>
        <p class="card_text">Wycieczka do Kairu - 1 dzień z Marsa Alam</p>
        <p>Cena od osoby dorosłej <span>$75</span></p>
      </div>
      <div class="card">
        <img class="card-image" src="../../assets/images/airport arrival.jpg" />
      </div>
      <div class="card-conetent">
        <h2 class="card_title">PRYWATNE TRANSFERY LOTNISKOWE W EGIPCIE</h2>
        <p class="card_text">taksówka i karta internetowa i antinal</p>
        z lotniska Marsa Alam do dowolnego hotelu <span>10$</span>10$ za osobę
      </div>
    </div> -->
  </div>

  <!-- <h3 class="made_by">Made with ♡</h3> -->
</header>
