<div class="container">
  <h1>Port Galib</h1>
  <H2>Lotnisko Marsa Alam</H2>

  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade w-100 d-flex"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/port-ghalib.jpg"
          class="d-block w-100 img1"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/photo0jpg.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/the-palace-port-ghalib.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/marina-lodge-at-port.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/sunrise-marina-resort.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/haahahah.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/hakona.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/han.jpg" class="d-blockw-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/hann.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>

      <div class="carousel-item">
        <img
          src="../../assets/images/hanna.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  //carasole end //maindescription
  <Section>
    <h5>CENA OD OSOBY DOROSŁEJ <span>$10</span></h5>
    <p>
      Port lotniczy Marsa Alam został zbudowany w 1998 roku i był kamieniem
      węgielnym projektu Port Ghalib. Lotnisko jest stosunkowo małe, bardzo
      czyste i dobrze utrzymane. Jest dogodnie zlokalizowany pod względem
      transportu. Do wielu hoteli można dojechać w kilka minut. To tylko pięć
      minut jazdy samochodem do Port Ghalib.
    </p>
    <p>
      Port Ghalib to gigantyczny projekt na Morzu Czerwonym. Tu na wybrzeżu
      buduje się całe miasto. Właścicielem i finansistą jest szejk z Kuwejtu
      (Grupa Mohammeda Abdelmohsena El-Khourafi), a projekt ten zaprojektowała
      światowej sławy grupa architektów WAT&G (kwota inwestycji ponad 1,5
      miliarda dolarów).
    </p>
    <p>
      Port Ghalib jest jeszcze w fazie budowy, ale już teraz można zobaczyć, co
      tam powstanie. Ludzie mówią o Wenecji w Egipcie. Port Ghalib będzie
      ogromnym, niezależnym kurortem składającym się z dziewięciu różnych wiosek
      tematycznych, które będą połączone fizycznie i wizualnie.
    </p>
    <p>
      Międzynarodowa marina powstaje w sercu Port Ghalib, otoczona portową
      promenadą o długości ponad 800 metrów. Wzdłuż tej promenady znajdują się
      niezliczone sklepy i kawiarnie, które zapraszają do odpoczynku, galerie,
      restauracje, ale także luksusowe apartamenty i wille w stylu arabskim i
      egipskim z widokiem na morze i port.
    </p>
    Port Galib Lotnisko Marsa Alam Port lotniczy Marsa Alam został zbudowany w
    1998 roku i był kamieniem węgielnym projektu Port Ghalib. Lotnisko jest
    stosunkowo małe, bardzo czyste i dobrze utrzymane. Jest dogodnie
    zlokalizowany pod względem transportu. Do wielu hoteli można dojechać w
    kilka minut. To tylko pięć minut jazdy samochodem do Port Ghalib. Port Galib
    Port Ghalib to gigantyczny projekt na Morzu Czerwonym. Tu na wybrzeżu buduje
    się całe miasto. Właścicielem i finansistą jest szejk z Kuwejtu (Grupa
    Mohammeda Abdelmohsena El-Khourafi), a projekt ten zaprojektowała światowej
    sławy grupa architektów WAT&G (kwota inwestycji ponad 1,5 miliarda dolarów).
    Port Ghalib jest jeszcze w fazie budowy, ale już teraz można zobaczyć, co
    tam powstanie. Ludzie mówią o Wenecji w Egipcie. Port Ghalib będzie
    ogromnym, niezależnym kurortem składającym się z dziewięciu różnych wiosek
    tematycznych, które będą połączone fizycznie i wizualnie. Międzynarodowa
    marina powstaje w sercu Port Ghalib, otoczona portową promenadą o długości
    ponad 800 metrów. Wzdłuż tej promenady znajdują się niezliczone sklepy i
    kawiarnie, które zapraszają do odpoczynku, galerie, restauracje, ale także
    luksusowe apartamenty i wille w stylu arabskim i egipskim z widokiem na
    morze i port. Wioska portowa składa się z trzech ośrodków z 950 pokojami i
    spa. Zantrum, które zostały zaprojektowane we współpracy z siecią hoteli Sun
    International. Firma Sun International jest najbardziej znana ze wspaniałych
    hoteli w Sun City w Republice Południowej Afryki. Międzynarodowa Marina
    posiada miejsca postojowe dla setek jachtów o długości do 50 metrów.
  </Section>
  <div class="reservation">
    <h6>po więcej informacji</h6>
    <a href="https://wa.me/201010655608?text="
      ><i class="fa-brands fa-whatsapp"> Rezerwuj teraz</i></a
    >
  </div>
</div>
