<div class="container">
  <h1>Wycieczka do Doliny Królów z Marsa Alam</h1>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade w-100 d-flex"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/1.jpg"
          class="d-block w-100 img1"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/125.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor dareuch good image.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor dariesch.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor daruiesch. 2.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-d-ani.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-da-qasap.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>

      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-iamge.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-car.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>

      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-img.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-iamge22.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-iamge.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/luxor/luxor-dareuch-all.jpg"
          class="d-blockw-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  //carasole end //maindescription
  <section>
    <h5>CENA OD OSOBY DOROSŁEJ <span>$75.00</span></h5>
    <p>
      Wycieczka Doliną Królów z Marsa Alam jest rozszerzoną wersją wycieczki do
      Luksoru. Rozpoczyna się wizytą w świątyni Karnak, największym miejscu
      kultu, jakie kiedykolwiek zbudowano. Jego starożytna nazwa ipet-isut
      oznacza „najświętsze miejsce”. Kompleks świątynny był budowany ponad 2000
      lat przez pokolenia faraonów. Wielka Sala Kolumnowa to niesamowity las
      filarów. Po lunchu w restauracji nad Nilem udasz się na zachodni brzeg tej
      wspaniałej rzeki, aby odwiedzić dwa gigantyczne posągi Amenhotepa III
      „Kolosy Memnona”. Następnie udasz się do Doliny Królów. W tym starożytnym
      klasztorze będziesz mógł wejść do trzech grobowców (w cenie wycieczki).
      Będzie można także odwiedzić wielką świątynię Hatszepsut. Ta imponująca
      świątynia, poświęcona królowej Hatszepsut, jedynej kobiecie-faraonowi w
      starożytnym Egipcie, wznosi się z pustynnej równiny w szereg tarasów i
      miraży. Następnie zabierzemy Cię do warsztatów alabastrowych, w których
      Egipcjanie ręcznie wytwarzają swoje produkty sklepowe. Na koniec wycieczki
      odwieziemy Cię do hotelu w Marsa Alam lub Hurgadzie
    </p>
  </section>

  //accordion trip quations
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <h3>Jak zarezerwować wycieczkę do Doliny Królów z Marsa Alam?</h3>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          By zarezerwować wycieczkę do Doliny Królów należy przesłać 1. nazwę
          hotelu, 2. numer pokoju, 3. imiona i nazwiska wszystkich uczestników,
          4. datę przylotu, 5. datę wylotu 6. nazwę biura podróży z którym
          przylecieliscie, 7. zdjęcie pierwszej strony paszportów, 8. zdjęcie
          wizy
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <h3>
            Jaka jest cena wycieczki do Luksoru z Doliną Królów dla dzieci?
          </h3>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Dzieci do 6 lat jadą na wycieczkę za darmo. Dzieci między 6 a 12 lat
          płacą połowę ceny.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <h3>W jakie dni odbywa się wycieczka?</h3>
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Codziennie jedziemy do Luksoru i Doliny Królów
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          <h3>Czy podczas wycieczki są ukryte koszty?</h3>
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Poza pozycjami zawartymi w liście “Dodatkowo płatne” nie ma na
          wycieczce żadnych dodatkowych kosztów. - Jeśli masz dodatkowe pytania
          na temat jednodniowej wycieczki do Luksoru skontaktuj się z nami na
          facebooku SkyOnta Tours bądź na Whatsappie pod numerem +201010655608.
          Z przyjemnością odpowiemy na Twoje pytania. .
        </div>
      </div>
    </div>
  </div>
  //prices
  <div class="cost d-flex flex-wrap justify-content-evenly">
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fas fa-check"></i> W cenie wycieczk i
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-bus"></i> Transfer z i do hotelu w Marsa Alam
        </li>
        <li class="list-group-item">
          Napoje i router Wi-Fi
          <i class="fas fa-wifi"></i>
        </li>
        <li class="list-group-item">
          opłaty startowe zgodnie z programem wycieczki
        </li>

        <li class="list-group-item">
          wykwalifikowany przewodnik mówiący po polsku
        </li>
        <li class="list-group-item"><i class="fas fa-utensils"></i> obiad</li>
        <li class="list-group-item">podatki i opłaty za usługi</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fa-regular fa-circle-xmark"></i>Dodatkowo płatne
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Napoje w restauracji</li>
        <li class="list-group-item">Porady</li>
        <li class="list-group-item">Rejs po Wyspie Bananowej</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-header">
        <i class="fa-regular fa-bell"></i>Co warto zabrać?
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          aparat, ciepła bluza (zimą noce są chłodne, latem klimatyzacja mrozi
          zabezpieczona), krem z filtrem, nakrycie głowy, nie ma konieczności
          zabierania paszportu, pudełko śniadaniowe (Nie wiesz co? Kliknij),
          woda / napoje
        </li>
      </ul>
    </div>
  </div>

  //endprices //description
  <div id="description" class="basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>WYCIECZKA DO LUKSORU FAQ NAJCZĘŚCIEJ ZADAWANE PYTANIA:</h2>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled li-space-lg first">
            <li class="media">
              <div class="media-body">
                <h4>Wycieczka do Luksoru z Marsa Alam – czy warto?</h4>
                <p>
                  Podobnie jak w przypadku wycieczki do Kairu tak i ta wycieczka
                  jest związana z kilkugodzinną podróżą autobusem. Dlatego też
                  przed kupieniem wycieczki do Luksoru (czy do Kairu) turyści
                  pytają czy aby na pewno warto się męczyć. Zazwyczaj jednak się
                  decydują, jadą i wracają wyczerpani, ale niesamowicie
                  zadowoleni. Większości z nich Luksor podoba się dużo bardziej
                  niż Kair.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>
                  Wycieczka do Doliny Królów z Marsa Alam– o czym warto
                  pamiętać?
                </h4>
                <p>
                  Wycieczka do Luksoru jest całodniową wycieczką podczas której
                  zapewniony macie lunch. Dzień przed wyjazdem warto więc
                  zgłosić w recepcji hotelu, że wybieracie się na wycieczkę i
                  chcielibyście zamówić śniadanie na wynos tzw. breakfast box
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Czy wycieczka do Luksoru jest bezpieczna?</h4>
                <p>
                  Jako organizatorzy wyjazdu, jesteśmy zobowiązani uzyskać
                  zezwolenie od policji turystycznej pozwalające na
                  zorganizowanie wycieczki. Jeżeli pojawiają się jakiekolwiek
                  sygnały alarmujące policja nie wydaje tego zezwolenia. Do tej
                  pory zdarzyło się to zaledwie kilka razy, i za każdym razem
                  było związane z pogodą.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>
                  Czy za wycieczkę można zapłacić inną walutą / kartą /
                  przelewem?
                </h4>
                <p>
                  Przyjmujemy płatność w dolarach, euro, funtach brytyjskich,
                  funtach egipskich. Przeliczamy cenę wycieczki po aktualnym
                  kursie i zaokrąglamy do pełnego euro, funta brytyjskiego bądź
                  pięciu funtów egipskich. Nie akceptujemy płatności kartą. W
                  wyjątkowych sytuacjach możemy zaakceptować płatność przelewem,
                  choć preferujemy gotówkę.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <ul class="list-unstyled li-space-lg second">
            <li class="media">
              <div class="media-body">
                <h4>Jak się ubrać do Luksoru?</h4>
                <p>
                  Przede wszystkim wygodnie. W Luksorze zwykle jest dość gorąco
                  (zwłaszcza latem, temperatura daje się we znaki), ale dobrze
                  mieć ze sobą też coś cieplejszego na podróż autokarem.
                  Zasypiając pod klimatyzacją można zmarznąć. Nie ma wymogów
                  jeśli chodzi o zakrywanie ramion czy nóg by móc zwiedzić
                  starożytne świątynie czy grobowce, ale zachowajmy umiar. Warto
                  ubrać się na sportowo, nie wyzywająco, by nie przyciągać
                  nadmiernej uwagi sprzedawców.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Jaka jest odległość z Marsa Alam do Luksoru?</h4>
                <p>Z Marsa Alam do Luksoru (przez Safagę) jest ok 450 km.</p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>Jak poznam bus/ autokar, który po mnie przyjedzie?</h4>
                <p>
                  Osoba, która po Was przyjeżdża, ma Wasz numer pokoju i powinna
                  go podać. Jeżeli będziecie mieli problem ze zrozumieniem
                  numeru pokoju, pokaże Wam ten numer w telefonie. Nie zawsze z
                  hotelu odbierają Was osoby polskojęzyczne. Często są to
                  kierowcy. Ale zwiedzanie Luksoru zawsze odbywa się z
                  polskojęzycznym przewodnikiem.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4>O której jest wyjazd z hotelu/ powrót?</h4>
                <p>
                  Z hoteli na terenie Marsa Alam odbieramy między 4:40 a 5 rano.
                  Powrót z Luksoru jest około 21. Po podaniu hotelu potwierdzimy
                  dokładną godzinę wyjazdu. - Kiedy i komu mamy zapłacić za
                  wycieczkę? Płatność jest podczas wycieczki, po wejściu do
                  autokaru. Płaci się rezydentowi, który jedzie z Wami
                  autokarem.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <div class="reservation">
    <h6>po więcej informacji</h6>
    <a href="https://wa.me/201010655608?text="
      ><i class="fa-brands fa-whatsapp"> Rezerwuj teraz</i></a
    >
  </div>
</div>
